:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-bgc: #f5f4fa;
  --primary-bgc: #ffffff;
  --alternative-bgc: #2f303a;
  --card-set-gap: 30px;
  --networks__item-gap: 10px;
  --base-icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h3 {
  margin: 0px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--dark {
  color: #000000;
}

.logo--leight {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav {
  display: flex;
  align-items: center;
}

.sait-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  transition: color var(--animation);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-position: bottom;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts__link {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: color var(--animation), fill var(--animation);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
}

.hero__section {
  background-color: var(--alternative-bgc);
  color: #ffffff;
  padding: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero.jpg");
}

.hero__title {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  transition: background-color var(--animation);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 580px;
  padding: 40px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  text-align: start;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  transition: transform var(--animation);
}

.modal__btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000;
  transition: fill var(--animation);
}

.modal__btn-close:hover {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  width: 100%;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__label {
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(35px);
  fill: var(--title-text-color);
  transition: fill var(--animation);
}

.modal-form__group:hover .modal-form__icon,
.modal-form__group:focus .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input {
  height: 40px;
  margin: 0;
  padding: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--animation);
}

.modal-form__input:hover {
  border-color: var(--accent-color);
}

.modal-form__input:focus {
  outline-color: var(--accent-color);
}

.modal-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.consent__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.consent__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../images/border-check.svg);
}

.consent__checkbox:checked + .consent__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
}

.consent__agreement {
  color: var(--accent-color);
}

.modal-form__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__list {
  display: flex;
  justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.features__item {
  min-width: 270px;
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--additional-bgc);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.gallery__section {
  padding-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bgc);
}

.gallery__list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.gallery__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.gallery__box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  transform: translatey(100%);
  background-color: rgba(47, 48, 58, 0.8);
  transition: transform var(--animation);
}

.gallery__box:hover .gallery__overlay {
  transform: translatey(0);
}

.team__section {
  background-color: var(--additional-bgc);
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team__list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team__item {
  background-color: var(--primary-bgc);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team__description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.networks__list {
  display: flex;
  justify-content: center;
}

.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--base-icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation), fill var(--animation), background-color var(--animation);
}

.network__link:hover, .network__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bgc);
}

.networks__item + .networks__item {
  margin-left: 10px;
}

/* footer  */
.networks__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;
  color: var(--primary-bgc);
}

.networks__list--start {
  justify-content: left;
}

.clients__list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.clients__item {
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--base-icon-color);
  border-radius: 4px;
  fill: var(--base-icon-color);
  transition: fill var(--animation), border var(--animation);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.filtrs__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtrs__item + .filtrs__item {
  margin-left: 8px;
}

.filtrs__button {
  padding: 6px 22px;
  background-color: var(--additional-bgc);
  color: var(--title-text-color);
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filtrs__button:hover, .filtrs__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  transition: box-shadow var(--animation);
}

.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__content {
  padding: 20px 24px;
  border-top: 0px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.card__title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 4px;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bgc);
  opacity: 0;
  transform: translatey(100%);
  transition: transform var(--animation), opacity var(--animation);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translatey(0);
  opacity: 1;
}

.footer__section {
  background-color: var(--alternative-bgc);
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.adress__text {
  font-size: 14px;
  line-height: 1.71;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__list {
  margin-top: 9px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__content {
  flex-basis: calc((50% - 45px) / 2);
}

.footer__content:last-child {
  flex-basis: calc(50% - 15px);
}

.network__link--leight {
  fill: var(--primary-bgc);
}

.mailing__input {
  color: rgba(255, 255, 255, 0.9);
  height: 50px;
  width: 350px;
  margin-right: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--alternative-bgc);
}

.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing__btn::after {
  content: "";
  background-image: url(../images/icon-send.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */