.modal-form {
  width: 100%;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__label {
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(35px);

  fill: var(--title-text-color);

  transition: fill var(--animation);

  .modal-form__group:hover &,
  .modal-form__group:focus & {
    fill: var(--accent-color);
  }
}

.modal-form__input {
  height: 40px;
  margin: 0;
  padding: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--animation);

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus {
    outline-color: var(--accent-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.consent__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.consent__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../images/border-check.svg);

  .consent__checkbox:checked + & {
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
  }
}

.consent__agreement {
  color: var(--accent-color);
}

.modal-form__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
