.networks__list {
  display: flex;
  justify-content: center;
}

.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--base-icon-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation), fill var(--animation),
    background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-bgc);
  }
}

.networks__item + .networks__item {
  margin-left: 10px;
}

/* footer  */
.networks__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;

  color: var(--primary-bgc);
}

.networks__list--start {
  justify-content: left;
}
