.site-nav {
  display: flex;
  align-items: center;
}

.sait-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: var(--title-text-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-position: bottom;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
