.footer__section {
  background-color: var(--alternative-bgc);
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__text {
  font-size: 14px;
  line-height: 1.71;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }
}

.footer-contacts__list {
  margin-top: 9px;

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199.98px) {
  .adress {
    text-align: center;
  }

  .visit_us {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .visit_us {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .visit_us {
    display: flex;
    align-items: baseline;
    width: 50%;
    justify-content: space-around;
  }

  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.network__link--leight {
  fill: var(--primary-bgc);
}
