.gallery__section {
  padding-top: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bgc);
}

.gallery__list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.gallery__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.gallery__box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  transform: translatey(100%);
  background-color: rgba(47, 48, 58, 0.8);

  transition: transform var(--animation);

  .gallery__box:hover & {
    transform: translatey(0);
  }
}
