.header {
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  justify-content: space-between;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
